<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Larrypy - Sign In</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css">
  </head>
  <header>
  	<div class="container">
  		<div class="span3 offset4">
  			<h1>LARRYPY</h1>
  			<h4>Twitter tools</h4>
  		</div>
  	</div>
  <body>
  	<div class="container">
  		<div class="span3 offset4">
	    	<form action="/signin/" method="post">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" value="Sign In" class="btn btn-primary btn-large">Sign in with Twitter</button>
			</form>
		</div>
	</div>
  </body>
 </html>