<!DOCTYPE html>
<html>
  	<head>
    	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    	<title>Larrypy - Sign In</title>
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css">
  	</head>
  	<header>
  	<div class="row">
  		<div class="span5 offset4">
  			<h1>LARRYPY - Twitter tools</h1>
  		</div>
  	</div>
  	</header>
  	<body>
  		<div class="row">
  			<div class="span4 offset5">
				<form action="tweet" method="post">
          {% csrf_token %}
	  			{{ form.as_p }}
				<input type="submit" value="Invia">
				</form>
		</section>
	</body>
</html>